@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  /* Beige */
  --color-beige-100: hsl(30, 36%, 96%);
  --color-beige-500: hsl(23, 6%, 57%);
  /* Grey */
  --color-grey-100: hsl(0, 0%, 95%);
  --color-grey-300: hsl(0, 0%, 70%);
  --color-grey-500: hsl(0, 0%, 41%);
  --color-grey-900: hsl(252, 7%, 13%);
  /* Secondary Colors */
  --color-green: hsl(177, 52%, 32%);
  --color-yellow: hsl(28, 73%, 81%);
  --color-cyan: hsl(190, 52%, 68%);
  --color-navy: hsl(248, 8%, 41%);
  --color-red: hsl(7, 58%, 50%);
  --color-purple: hsl(259, 30%, 56%);
  /* Other Colors */
  --color-light-purple: hsl(288, 29%, 62%);
  --color-turquoise: hsl(180, 14%, 62%);
  --color-brown: hsl(21, 30%, 44%);
  --color-magenta: hsl(332, 30%, 44%);
  --color-blue: hsl(205, 48%, 47%);
  --color-navy-grey: hsl(214, 11%, 63%);
  --color-army-green: hsl(83, 20%, 47%);
  --color-gold: hsl(47, 50%, 59%);
  --color-orange: hsl(18, 47%, 52%);

  /* Font */
  --font-sans: var(--font-sans)
}

@layer base {
  button {
    cursor: pointer;
  }
}

@layer components {
  .sidebar-item {
    @apply text-grey-300 hover:text-white transition-colors duration-400 flex md:flex-row flex-col md:gap-4 gap-2;
  }
}